[2020-01-10 12:58] kpet opened #4 "Utility function to map error codes to a string"
Many projects are rolling their own and most of them end up with missing error codes over time. Should we provide an official solution?

An example of the many such discussions I've been pointed to: https://stackoverflow.com/questions/24326432/convenient-way-to-show-opencl-error-codes#comment39780932_24336429

[2020-04-17 12:31] MathiasMagnus opened #1 "Samples for loading kernel files"
Hi everyone!

I wanted to drive high-level discussions on how the repo should look like via actual code samples. I've taken the liberty of going forward and writing some samples which are pretty much missing from all SDK samples, because each one has chosen one given strategy from the vast array of methods on loading kernel files.

My currently private repo is [here](https://github.com/MathiasMagn

[2020-04-17 12:53] MathiasMagnus opened #2 "Utility library"
In #1 I touched upon the issue of how to present utilities from the SDK to the users.

The way I imagine the OpenCL SDK hosted by Khronos, is that it provides all the necessary files to compile an OpenCL application (the ICD loader and headers) as well as a utility library which applications could rely on to take care of some tedium in the API.

## Consume via CMake
The way I imagined this was to

[2020-05-15 12:32] MathiasMagnus opened #3 "Getting Started Guide"
@bashbaug seems to be a little shy opening issues for content discussion, so allow me to take initiative.

Following Ben's [comment](https://github.com/KhronosGroup/OpenCL-SDK/issues/1#issuecomment-628396976) on needing some Getting Started Guide (and we definitely do), let's start discussing that. He already brought up two sources to dig into.

- [The OpenGL Getting Started Guide](https://www.khr

[2020-09-08 04:44] bashbaug opened #10 "Signpost to additional samples"
I think we should add signposting to other curated samples that aren't necessarily ported to the SDK repo yet or perhaps never will be.  As an example, the University of Bristol's "Hands on OpenCL" samples are excellent:

* https://github.com/HandsOnOpenCL/Exercises-Solutions

We could do this directly from the README or from a companion page.

[2020-10-08 08:25] kingc8 opened #15 "CMake files for Windows are incomplete."
CMake Error at CMakeLists.txt:38 (add_subdirectory):
  The source directory

    C:/Users/MasonStorm/Downloads/OpenCL-SDK-main/external/OpenCL-ICD-Loader

  does not contain a CMakeLists.txt file.

CMake Error at CMakeLists.txt:41 (set_target_properties):
  set_target_properties Can not find target to add properties to: OpenCL

Configuring incomplete, errors occurred!

-----
Best regards.

[2020-10-08 08:48] MathiasMagnus commented on #15
You've cloned the repo without --recursive. There is WIP to make this process more failsafe by the scripts doing it on your behalf if you forget. In the meantime, [see here](https://github.com/KhronosGroup/OpenCL-SDK#setting-up-the-sdk) or [here](https://stackoverflow.com/a/4438292/1476661). Let us know if it solved the problem.

[2020-10-08 17:09] kingc8 commented on #15
Ok, well, I'll do it another way. I just clicked on "clone" downloaded as a zip, unzipped it into Downloads folder.
I then open Cmake GUI and set the source directory as a the root directory of the OpenCL-SDK and created a folder in the root folder called "build" as a target location for the build process.

Is that really not going to work?

[2020-10-09 08:07] kingc8 commented on #15
Indeed,
 git clone --recursive https://github.com/KhronosGroup/OpenCL-SDK.git
on the Powershell fetches everything.

Thanks a lot.

Closing issue.

[2020-10-09 08:07] #15 closed

[2020-10-09 16:40] martinschwinzerl opened #16 "Support for "modern" CMake handling of installed SDK missing"
Would it be please possible to add support for the "modern" CMake way of working with the installed[1] SDK, i.e.

- identify components (api headers, cxx headers, icd loader)
- provide *Targets.cmake and *Config.cmake file(s) for the components and
- expose targets for working within CMake with the imported SDK

Furthermore, I would have expected that the "make install" handles the installation of

[2020-10-09 16:58] MathiasMagnus commented on #16
This is WIP, in fact it's done and I've had it in a PR until it fell victim to the master >> main transition. This work spans across 4 repos (Headers, CLHPP, ICD-Loader, SDK), so it requires coordinated action, but rest assured that it's 90% done and as soon as I get around to it (it also touches upon significantly improving our CI coverage, as breaking away from existing Find Module detection in

[2020-10-11 14:07] martinschwinzerl commented on #16
Thank you for your quick update & your efforts, they are very much appreciated! I would have otherwise tried to take a stab at this in the near future (had something cobbled together for the cxx headers locally which clashed with the changes introduces leading up to the OpenCL 3.0 release, never got around to the other components),  but given the complexity you outlined and the importance, its gre

[2020-12-04 10:54] kenba opened #17 "enumopencl sample program crashes"
I built the SDK on Windows 10 using cmake 3.19.1, MSVC 2019 and OpenCL.lib from AMD APP SDK 3.0.
When I ran the enumopencl sample program, MSVC raised the following error:

![image](https://user-images.githubusercontent.com/3299660/101153918-ec842700-361c-11eb-84bd-c8aecd3d2916.png)

The debugger showed the program to be failing on line 111 in `AllocateAndGetDeviceInfoString`: `delete[] param_valu

[2020-12-04 18:45] #17 closed

[2020-12-18 19:54] alycm opened #20 "This repository has no CLA"
This repository has no CLA enabled.  I suspect that was an oversight, I can't recall discussion around this repository not having one nor find anything around that in meeting minutes.

[2020-12-18 22:25] neiltrevett commented on #20
@outofcontrol James - please add standard Khronos Apache 2.0 CLA - thanks!

[2020-12-18 22:32] outofcontrol commented on #20
It's public now! Awesome. CLA has been added.

[2020-12-18 22:58] outofcontrol commented on #20
Khronos members who's company has signed the Khronos CLA are exempt from needing to sign it again on GitHub. So if a member doesn't see the CLA, this is most likely why.

[2020-12-30 10:02] Vectrobe commented on #16
Is this perchance why the headers are missing from the install directory after a cmake --install? no errors are logged during build or install, cmake simply never copies them (/lib, /bin and the exe's are however).

[2021-01-01 12:43] MathiasMagnus commented on #16
The headers work has been merged but is not yes referenced by this project using package config syntax. You are welcome to contribute, or wait until I (or someone) gets around to merging the same feature to the ICD and the CLHPP packages.

As I said it's a big change and requires extensive testing, some of which has already been merged into the other projects. I got limited time, but am making slo

[2021-01-04 17:34] alycm commented on #20
Thanks for fixing this!

[2021-01-04 17:34] #20 closed

[2021-01-05 04:23] Vectrobe commented on #16
Is it currently expected to use the source directory for the 'install'? ie just build and reference the source directory ('OpenCL-SDK') directly for headers and lib?

I haven't yet been able to use the SDK as the config.cmake files are never generated on build or install, so cmake has no idea where anything even is when you try to find_package(OpenCL or OpenCL-SDK).

I also suggest as well that th

[2021-01-05 10:00] MathiasMagnus commented on #16
@Vectrobe The plan on how OpenCL as an API will be consumed in the "modern" way is layed out [here](https://github.com/KhronosGroup/OpenCL-Headers/pull/107#issue-466215279), in the initial comment of this PR that started the work.

Referencing the source tree will not be needed. You install the SDK and point `CMAKE_PREFIX_PATH` to your install root, as would be expected.

Naming the repo is as is

[2021-01-05 13:29] Vectrobe commented on #16
Oh no I didn't mean the name of the _repo_ at all, just the cmake naming.
Currently we have project(OpenCL-SDK), target_properties(OpenCL ...), OPENCL_SDK_INCLUDE_DIRS, meanwhile other projects have required OPENCL_INCLUDE_DIR, OPENCL_DIR, (nvidia), and cmake had its own FindOpenCL using OpenCL_INCLUDE_DIRS, and so on.

The main point being that most existing projects use OpenCL for the project im

[2021-01-05 14:08] MathiasMagnus commented on #16
Please, disregard the current use of `OpenCL_SDK_...` variables. They are hotfixes to make the SDK compile. Those parts will disappear once I get around all the repos. Rest assured, I'm making some progress today on the ICD-Loade repo. No promises. You can follow the progress [here](https://github.com/MathiasMagnus/OpenCL-ICD-Loader/tree/pkgconfig).

[2021-01-25 17:26] kpet opened #22 "Enhance CMake function to add samples"
See @bashbaug's suggestions on https://github.com/KhronosGroup/OpenCL-SDK/pull/21#pullrequestreview-567539782.

[2021-01-25 17:29] kpet opened #23 "Code sample to use OpenCL on Android"
The following cases would be interesting to cover:
- In a native binary
- As part of an APK

[2021-01-25 17:47] bashbaug commented on #22
I can take care of this.

Are there any desired changes or additions to the proposal, or should I port it over as-is?

[2021-01-25 17:54] kpet commented on #22
After a quick look I'd say I'm not convinced about the usefulness of `TEST` (do we really need configurability per sample?) and `NUMBER` (looks like a maintenance headache but I might have missed the point of it) but everything else looks like options we'll definitely want IMHO.

[2021-01-29 06:20] bashbaug opened #25 "add automation using GitHub actions"
Looks like this repo is still using Travis exclusively.  We should add support for GitHub actions also.

[2021-02-03 08:49] #22 closed

[2021-02-03 08:49] #25 closed

[2021-02-16 00:40] InBetweenNames opened #27 "Device toolchains"
CMake has the notion of a Host toolchain which is useful for configuring for cross compilation and specifying which compiler to use.  Would it be useful to extend this concept to cover Device toolchains as well?  The OpenCL CTS Framework repository previously had the notion of a Device Toolchain described here: https://github.com/KhronosGroup/OpenCL-CTS-Framework/tree/master/03-conformance-checks

[2021-04-13 22:12] jenatali opened #28 "Update vcpkg OpenCL port to point here"
The [vcpkg OpenCL port](https://github.com/microsoft/vcpkg/blob/master/ports/opencl/portfile.cmake) currently points to old commits of the OpenCL headers and the ICD loader. It should be updated to point to here. That will:
* Update it to current best practices for how to target OpenCL
* Pick up OpenCL 3.0 support in both the ICD loader and the headers

[2021-04-14 09:27] MathiasMagnus commented on #28
@jenatali It is on my TODO list, but it's blocking on some other items. The SDK intends to update CMake dependence in a backwards compatible manner. Plans are detailed [here](https://github.com/KhronosGroup/OpenCL-Headers/pull/107) which have already passed the headers repo and has slightly stumbled on ICD and CLHPP as they lack some crucial tests.

Once all the CI and CMake rework goes through (h

[2021-04-14 13:31] jenatali commented on #28
Great, thanks! We had someone who was tripped up because they built a CL sample, and then ran it, and it didn't get CLOn12 support, because vcpkg's port put an old OpenCL.dll next to their exe. I haven't looked closely to see if this SDK throws away the DLL, but at least having an updated version would prevent that problem.

[2021-05-10 17:43] inducer opened #30 "Add Python samples?"
At a recent CL advisory panel meeting, there was discussion about adding Python samples to the SDK. The ones I've currently collected live here:

https://github.com/inducer/pyopencl/tree/main/examples

I would say that these are of varying quality and scope. The most interesting ones are potentially these:

### Simple functionality demos

- `demo.py` ("hello-world")
- `transpose.py` (slightly nont

[2021-05-11 06:37] MathiasMagnus commented on #30
Then we agree. If something doesn't have CI, from a practical standpoint it doesn't exist. We are aiming to have extensive samples coverage with both kinds of tests: simple and app-level. Even if the source samples are of varying quality and scope, having them as inspiration to tap into is much appreciated.

[2021-05-11 13:57] inducer commented on #30
Great to hear. What would the next steps be? File a PR here that adds these and a CI job?

[2021-05-12 17:22] inducer commented on #30
@numa65536 Thanks for your response, and for your willingness to help. Also, I should have explained the context better. (Sorry!) This is not about a new approach at all. To my mind, the purpose of this SDK is simply to have a collection of examples of OpenCL in use, similar to what some vendors provide for their APIs. The idea is to help potential users get started by being able to draw inspirati

[2021-05-12 17:24] inducer commented on #30
Before I go open a PR for this: what would a good path for these examples be? The existing structure appears to be very CMake-centric. Is it OK if I just make a "python/core" folder at the top level and add things there?

[2021-05-13 09:22] MathiasMagnus commented on #30
@inducer I believe opening a PR is adequate, as that's where the nitpicking happens (in all repos). Having Python samples is a wanted feature, that's been established. Getting the basics right will be done through code review. IMHO `python/core` seems appropriate.

Since Python samples don't require building in the same sense C/C++ samples do, building doesn't need to be hooked up to CMake. Howeve

[2021-05-13 15:25] Kerilk commented on #30
Thanks for submitting python samples @inducer!

I plan on submitting Ruby samples and am prototyping a pull request here:
https://github.com/Kerilk/OpenCL-SDK/pull/1
I think we need at least a `samples/bindings` directory or a top level `bindings` directory.

I did some CI on Ubuntu with pocl, and a few with MacOS, but apparently they broke their CPU Opencl in the latest security patch from the 28

[2021-05-13 17:04] inducer commented on #30
Personally, I think I'd prefer exposing all the bindings at the top level, with `python`, `ruby` as individual directories. If they're hidden under `bindings`, it just makes them less discoverable.

[2021-05-13 17:06] inducer commented on #30
I am hoping to  use https://github.com/conda-forge/ for CI. It's [three-odd commands](https://documen.tician.de/pyopencl/misc.html) to get a working CL install. Are the ruby CL bindings packaged for conda-forge?

[2021-05-13 17:29] Kerilk commented on #30
I was worried about cluttering the base folder, but you are probably right.

I install them using gem:
https://github.com/Kerilk/OpenCL-SDK/blob/0cf14269eec269a3cbb0de18844bd271c5034499/.github/workflows/presubmit.yml#L68-L69
ruby's own installer, but I am open to other mode of distribution.

[2021-05-13 18:13] numa65536 commented on #30
So, if I understand clearly your message, you just want me to put my
examples I provided in examples of PyOpenCL in
https://github.com/Kerilk/OpenCL-SDK/tree/0cf14269eec269a3cbb0de18844bd271c5034499/samples
in order to give use cases of PyOpenCL. I suppose it would be better if I
introduce some explanations about the context, the use and the results of
the 3 examples I provided.
For example, would

[2021-05-13 20:56] Kerilk commented on #30
No I don't think so, I just wanted to open the discussion so that we would create pull requests with some coherency. But I see @inducer has open one already:
https://github.com/KhronosGroup/OpenCL-SDK/pull/31
I will refactor mine to match the same architecture.

[2021-05-13 21:13] inducer commented on #30
I think #31 is ready for a first look. No idea if the CI passes. I've left @numa65536's app-level examples out for now to avoid complicating the copyright assignment process. Maybe he can add these later (perhaps in the versions from https://github.com/inducer/pyopencl/pull/470)

[2021-07-13 01:03] hayesgr opened #34 "It would be nice if the zip file actually included what is needed, Git isn't always an option"
Some of us have security to deal with. Using git apps and so on isn't an option. So actually including the required files in the zip should be a basic common sense thing here.

[2021-07-13 10:09] alycm commented on #34
Hello, thank you for the report and for trying out the SDK.

I tried this out myself and the problem is that all the sub-folders of 'external' are empty in the zip file, because they're submodules.  You can't run the git submodule commands because the folder is not a git repository.

A workaround could be manually dropping in the source from the zip files of the synchronized release of the three r

[2021-07-20 16:07] bashbaug commented on #30
Since we've merged the first round of python samples (see #31) can we close this issue?

[2021-07-20 16:45] #30 closed

[2021-07-28 16:16] Saikatsaha1996 opened #35 "Help wanted for chroot Linux"
And mobile
Gpu Adreno 650

Environment (Linux - chroot)
Debian - buster
In my device already available OpenCL driver under
/system/vendor/lib64/libOpenCL.so     ........

I am trying to make symbolic link with...
/system/vendor/lib64/libOpenCL.so. To /usr/lib/aarch64-linux-gnu

Already installed opencl-headers
But I am unsuccessful....

You are my last option for help...
Any solution please...

[2021-09-15 22:01] neurodiverseEsoteric opened #36 "Why can't Blender and Houdini use OpenCL?"
I was just given a new PC with a TRX40 and A4000, but for some reason Houdini/Blender can't regonize either of those as OpenCL devices. This happens for both Manjaro Lisa and Pahvlo, on every Kernel from 5.10-14...
clinfo output:
[code]

[2022-01-02 20:07] hayesgr commented on #34
So the only way someone can get and make use of this is if they install gitdesktop or manually go through and download everything off each of the separate repositories.

There is no good excuse for this.

We have subfolders for a reason. Stop using symbolic links external repositories. It doesn't make this any cleaner.

Hell the code is a mess from hell because they are using code space for docume

[2022-01-03 13:56] MathiasMagnus commented on #34
@alycm I'm certain this can be done using GA. We'll need to make an action that creates a binary releases when a tag is pushed.

[2022-01-03 14:08] MathiasMagnus commented on #34
@hayesgr Apart from agreeing with you on simplicity first, please be a little more careful with wording.

As for your feedback, the OpenCL ecosystem has had the OpenCL-Headers, OpenCL-ICD-Loader and OpenCL-CLHPP repos for ages, and while _you_ may think that everything should _just_ be part of this SDK repository, doing so we would likely draw the anger of many Linux distro maitainer's anger, whom

[2022-01-03 22:01] hayesgr commented on #34
That's what we call the python approach to stuff. Because we poorly planned out something to start with and people got used to it and it would break their code we aren't going to fix it. Can you imagine if all of us used that lame excuse were programming would still be. Imagine were C++, C, Java, .net all would be if they held on to an excuse like that as a reason not to do something.

[2022-04-11 23:01] Whotakesmyname opened #45 "An SDK starter template & guide"
This great SDK is exactly what I was imagining of when I saw the (_reasonably_) cumbersome C API in the OpenCL guide. However, it is still a little confusing for a new user to figure out where to start. Should I:
1. use this whole repo as another dependency, or should I
2. tailor it to be a codebase as my own repo?

Even the draft guide I found in the issue #3 did not utilize the SDK utility. For

[2022-04-13 18:22] Whotakesmyname commented on #45
Your detailed reply is really appreciated. I am especially interested in the GL&CL interoperation, so I spent 1 day having managed to tailor the whole repo for my use. If you are interested, it's [here](https://github.com/Whotakesmyname/mpm-opencl). Suggestions are welcomed.

In the process, I almost read through your cmake files in each directory and did some dirty works, mostly about removing de

[2022-04-25 08:27] jalomic commented on #23
I have many android devices and each one has opencl support. But only one supports the ICD extension.
You can look at https://github.com/robertwgh/libOpenCL-loader - it's works!

[2022-05-24 11:58] MathiasMagnus commented on #34
@hayesgr Are the new manually packaged source archives in the releases solve this issue for you?

[2022-05-28 03:43] liu-xiao-ping opened #47 "Could NOT find X11 (missing: X11_X11_LIB)"
Hello! :
On Linux, I downloaded opencl-SDK and encountered a problem when compiling:
-- Could NOT find X11 (missing: X11_X11_LIB)
CMake Error at cmake/Dependencies/X11/X11.cmake:6 (message):
X11 Development Files not found. Please install them using your system
Package Manager, for eg. Libx11-dev
Call Stack (most recent call first):
Cmake/Dependencies. Cmake: 10 (include)
CMakeLists. TXT: 49 (incl

[2022-05-28 17:45] MathiasMagnus commented on #47
As the error message suggests:

The SDK by default builds all samples, including the OpenCL-OpenGL interop samples, which depend on OpenGL development packages, which in turn depend on your system's windowing library. The SDK does a best effort at fetching all missing dependencies, however we cannot reasonably try to assemble/fetch development files for every desktop environment out there, some th

[2022-05-28 17:45] #47 closed

[2022-05-29 08:16] MathiasMagnus commented on #28
@jenatali I gave it a go some time ago, however I stumbled across `vcpkg_from_github` not supporting submodules. I [requested this feature be implemented](https://github.com/microsoft/vcpkg/issues/24521), however until it's not, the port will not become any simpler. It'll still require cloning from all the repos separately using the same tagged version.

As a workaround, this repo (like all other

[2022-05-30 01:56] liu-xiao-ping commented on #47
Ok, thank you. I just wanted to build Opencl.so, as you suggested: cmake -d OPENCL_SDK_BUILD_SAMPLES=OFF -d OPENCL_SDK_BUILD_OPENGL_SAMPLES=OFF. But I ran into another compilation problem:
CMake Error at _deps/freetype-external-src/CMakeLists.txt:222 (message):
In-source builds are not permitted! Make a separate folder for building,
E.g.,
Cmake - E make_directory build
Cmake -e chdir build cmake..

[2022-05-30 12:05] MathiasMagnus commented on #47
This a sample command-line I issued on a blank instance of Ubuntu 20.04 running in WSL.
[code]
This is as minimal as it gets. I checked, and `apt show libx11-dev | grep installed` returns nothing, so graphical dev packages aren't installed.

Judging by your comment, I think you used `-d` instead of `-D` option to pass arguments to CMake. That doesn't work, as the CMake CLI is case sensitive. Freet

[2022-06-02 02:48] zjin-lcf opened #48 "[question] OpenCLUtils_Export.h"
Where is OpenCLUtils_Export.h located ?  Thanks.

[2022-06-07 21:42] MathiasMagnus commented on #48
OpenCLUtils_Export.h is created by the build. It is a stock export header generated by CMake. You can find one instance in your build tree after configuring or in any of the binary release archives under `include/CL/Utils/OpenCLUitls_Export.h`.

[2022-06-07 21:42] #48 closed

[2022-08-02 18:46] nicholaskomsa opened #49 "Pipe Constructor fails"
In the cl::pipe constructor, "flags = CL_MEM_READ_WRITE | CL_MEM_HOST_NO_ACCESS;" results in error -30. Changing it to merely "CL_MEM_READ_WRITE" causes it to work fine. I saw this was an open issue in another, I think more outdated, repo.

[2022-09-15 00:36] irimitladder opened #53 "Getting "cannot open source file "CL/cl.h" after the SDK installation"
I've installed this SDK on a Windows 11 x64 machine- well, actually, I'm not that good with CMake and stuff, but these two commands were executed successfully:

[code]

However, I'm still getting the `cannot open source file "CL/cl.h"` error in Visual Studio Community 2022 for

[code]

I appreciate any help with my issue, and thank you in advance.

[2022-09-17 15:46] MathiasMagnus commented on #53
I have to assume a lot of things, because you're omitting some info on how you consume the result of the build.

- The `--target install` will install the SDK to some place, I believe by default under `Program Files` so you were likely also prompted for admin priviliges.
- Because you didn't specify a build type, CMake by default builds Debug, so you have a Debug builds of everything. (Which may b

[2022-09-23 06:59] rajhlinux opened #55 "How to build for FreeBSD 13.1?"
I get this error:

[code]

[2022-09-24 13:24] juliohm opened #56 "Build error following instructions from README"
The following error message is being generated by the default instructions:

[code]

This is happening when I type `cmake .` in the top OpenCL-SDK folder after cloning all submodules as suggested. Appreciate if you can help with this issue. We are trying to precompile OpenCL for Julia users again.

[2022-09-25 11:09] juliohm commented on #56
Solved the issue by creating a separate build directory before calling the parent CMakeLists.txt file.

[2022-09-25 11:09] #56 closed

[2022-09-25 12:29] lmarz opened #57 "Inconsistent version naming scheme in OpenCL-SDK-vJJJJ.MM.DD-Source.tar.gz"
In the newest release, the downloadable source file OpenCL-SDK-v2022.09.23-Source.tar.gz has the directory OpenCL-SDK-2022.5.18-Source.
Not only do the dates not match up, but the version string of the directory doesn't contain a 0 in the first space, when the day or the month is less than 10.

This inconsistency makes it quite hard to automate things.

[2022-09-25 21:09] bashbaug commented on #57
Eek, @MathiasMagnus did I mess something up here?

Looks like this is driven by the project version in the CMake file, which is still the older "2022.05.18", so that's at least part of the problem.  The leading zero gets removed by CMake when it parses this into the PROJECT_VERSION variable.

Should we try to make the directory in the zip and tgz files match the git tag?  Or would it be OK to remo

[2022-09-25 21:19] bashbaug commented on #55
Hi, can you please include the command lines you are using to build on FreeBSD?

It looks like you are specifying a platform name with `-A` when you are creating build files via CMake but this is not supported for the Unix Makefile generator.

Here's what I do - should be all that is required for most Unix-like systems.  Feel free to use another directory other than "build" if you would prefer, an

[2022-09-26 04:30] MathiasMagnus commented on #56
Yes, CMake discourages in-source building (when source files mingle with build artifacts and side-effect) to a point some projects outright throwing an error when they detect it. (It may be known to cause issues with said projects.) In your case it was in FreeType, a transitive dependency of SFML.

If you used Vcpkg (like the readme), I believe this should not happen, because the build never sees

[2022-09-26 06:45] MathiasMagnus commented on #57
I think we didn't bump the version inside `CMakeLists.txt`. Last time we did this as two separate commits.
![kép](https://user-images.githubusercontent.com/9763499/192209492-482c1972-ba08-4fb2-8996-0deff3fe636b.png)
I didn't know we'll be tagging right after the submodule bump. Anyhow, I'll update `RELEASE.md` to make sure we don't go astray next time. Overwriting the version tag should trigger th

[2022-09-26 16:30] juliohm opened #58 "Errors trying to build simple header+loader binary"
I am trying to cross-compile OpenCL for different applications in Julia, but the build is giving this error as if the CMAKE_CXX_STANDARD at the top level was ignored. Can you please take a look at the following build record?

https://pastebin.com/V5CCYxDP

You can see that the C99 standard is being used for some reason in the build.

[2022-09-26 20:38] MathiasMagnus commented on #58
@juliohm Thanks for reporting this.

The issue isn't that the build is using C99 for some reason. The issue is that it _isn't_ using C99, but uses the default C standard, which I guess is C89. It was a conscious decision that the OpenCL ecosystem going forward won't support 30 year old language standards. Unfortunately our OpenCL-SDK CI coverage isn't quite the same breadth yet as the rest of the

[2022-09-26 20:46] juliohm commented on #58
Thank you @MathiasMagnus I will try to build it again with the proposed option. Will also try `-D CMAKE_C_STANDARD=C11` in the command line to see if the error goes away following suggestions from Julia community members.

[2022-09-26 20:55] MathiasMagnus commented on #58
You beat me to, I was just about to amend my message with the same idea. Let me know how it turns out.

[2022-09-26 20:55] juliohm commented on #58
Ok, the option `CMAKE_C_STANDARD=11` fixed that error, but now I have another error:

[code]

[2022-09-26 21:00] juliohm commented on #58
It is been a while since the last time I touched C/C++, all my work nowadays is in Julia, I don't know the latest trends in standards, stdlibs, etc. Any help is appreciated. I think we are almost there 🙏🏽

[2022-09-27 06:47] MathiasMagnus commented on #58
Yeah, the issue at hand is this:
[code]
I would ask what operating system this is, but GCC 4.8.5 shares the feature set of 4.8.0, which was released March 2013, so it's 9 years old snapshot of C++ and as such pre-dates C++14. I don't think we will back-port the utility libraries to C++11, as we would have to reimplement quite some metaprogramming utilities. Our baseline of testing on Linux are the

[2022-09-27 11:20] juliohm commented on #58
Thank you @MathiasMagnus , I am following all your suggestions. I requested GCC 7 in the cross-compilation script and followed the instructions in the `OpenCL-ICD-Loader`. In the first compilation step I already get errors related to C++:

[code]

Are we required to clone `OpenCL-CLHPP` as well? Can you please share a set of updated instructions that I can reproduce in a fresh session with GCC 7?

[2022-09-27 15:01] bashbaug commented on #58
I'm the one responsible for these changes: https://github.com/KhronosGroup/OpenCL-Headers/pull/140

I thought I might have messed something up but it looks like I'm including the right header (`<inttypes.h>`), which is required since C99.

I can try to dig up a gcc7 system to repro if needed.  In the meantime, can you please check that the intended version if inttypes.h is being included and that

[2022-09-27 15:58] juliohm commented on #58
I'm happy with any build that works. If you have another preferred
compiler, please document it and make sure that the CI build is up to date
🙏🏼 Also, it is very good practice to set CMAKE_C_STANDARD and
CMAKE_CXX_STANDARD to avoid these build issues that are hard to fix by
non-maintainers.

Em ter., 27 de set. de 2022 12:02, Ben Ashbaugh ***@***.***>
escreveu:

[2022-09-27 19:06] bashbaug commented on #58
Yes, agreed.  We've done this in some places (e.g. OpenCL-ICD-Loader) but not in the headers.

See https://github.com/KhronosGroup/OpenCL-Headers/pull/208, I'm not sure if it might help to solve this problem?  On my system it adds `-std=gnu99` to my gcc compiles.  I'm able to compile fine without this too (gcc 9.4.0), but maybe it will help for older gcc versions?

[2022-09-27 19:39] juliohm commented on #58
I've incorporated the diff but the error is still there with GCC 7. I will try with GCC 9 now.

[2022-09-27 19:52] bashbaug commented on #58
Come to think of it, we have gcc 7 in our CI for OpenCL-Headers.

Example: https://github.com/KhronosGroup/OpenCL-Headers/actions/runs/3116481007/jobs/5054348256

I can't explain why this isn't working.... :confused:

[2022-09-27 20:01] juliohm commented on #58
If you want to reproduce the exact  environment where I am trying to cross-compile OpenCL, it should take a few simple steps:

1. Download Julia v1.7.3 from the binaries page: https://julialang.org/downloads/oldreleases/
2. Install the BinaryBuilder package in the Julia prompt: `using Pkg; Pkg.add("BinaryBuilder")`
3. Launch the wizard with `using BinaryBuilder; BinaryBuilder.run_wizard()`
4. Prov

[2022-09-27 20:57] bashbaug commented on #58
Thanks, I have been able to reproduce the error you are seeing.  Stay tuned...

[2022-09-27 21:09] juliohm commented on #58
Thank you for taking a look into it. For completeness, this is the full process recorded in a video in case you want to finish the cross-compilation yourself: https://binarybuilder.org

[2022-09-27 21:29] bashbaug commented on #58
I did a visual diff of the inttypes.h when the error occurs and my inttypes.h and noticed a difference:

[code]

So it seems that these headers at least require `__STDC_FORMAT_MACROS` to be defined for C++ compiles or the format macro constants will not be defined.

There's some interesting information in a note on [cppreference](https://en.cppreference.com/w/cpp/types/integer) as well:

Regardles

[2022-09-27 21:47] juliohm commented on #58
Thank you @bashbaug , any option that works is fine.

As soon as the changes are merged into the main branch we can retry the cross-compilation again with the specific commit. The video I linked above shows how the binaries can be generated for all 13 platforms automatically after we define a single build script that works.

[2022-09-27 23:42] bashbaug commented on #58
PR for (2) is here: https://github.com/KhronosGroup/OpenCL-Headers/pull/209

[2022-09-27 23:56] bashbaug commented on #57
Reopening until we do a release with the corrected naming.

[2022-09-28 19:07] juliohm commented on #58
Thank you @bashbaug , can you confirm that the build was successful for the OpenCL-ICD-Loader as well after the OpenCL-Headers? Should we wait for the PR to get merged into the main branch?

[2022-09-30 05:37] rajhlinux commented on #55
Thanks for your reply.

I get the follow error:

[code]

[2022-09-30 05:52] rajhlinux commented on #55
Alright, I had to start over and did:

`git clone --recursive https://github.com/KhronosGroup/OpenCL-SDK.git
`
[code]
And now get a different error after doing "make":

[code]

Here is the output after doing "cmake":

[code]

[2022-09-30 13:59] juliohm commented on #58
@bashbaug @MathiasMagnus I've successfully built OpenCL for 11 different platforms with this script:

https://github.com/juliohm/cross-platform-opencl

Can you help adding support for the remaining platforms?

You can run the script for a specific platform by passing the name of the platform in the command line:

[code]

This is an example build that is failing due to a compilation error in OpenCL

[2022-09-30 14:11] juliohm commented on #58
The missing platforms are:

[code]

with corresponding identifier:

[code]

If we can fix at least the build on Windows platforms, we will be able to provide OpenCL for the majority of Julia users.

[2022-09-30 15:46] bashbaug commented on #55
Thanks, this is helpful, and this looks like progress.  Unfortunately, it also looks like we'll need some minor updates for the ICD loader and perhaps a few other parts of the SDK to work with FreeBSD.

Here is where `PATH_SEPARATOR` is defined in `icd_platform.h`:

[code]

Because FreeBSD meets none of these conditions `PATH_SEPARATOR` is never defined.

A couple of things we can do to fix this:

[2022-10-01 01:11] bashbaug commented on #57
Hi - can you please confirm that the latest release ([v2022.09.30](https://github.com/KhronosGroup/OpenCL-SDK/releases/tag/v2022.09.30)) fixed the naming issue?  Thanks!

[2022-10-01 08:32] lmarz commented on #57
Yes, the version number now matches up everywhere. Thank you very much

[2022-10-01 08:32] #57 closed

[2022-10-01 11:48] juliohm commented on #58
Most errors I am getting trying to build and install OpenCL are actually errors that occur in the test folders. Ideally the CMake build instructions wouldn't attempt to test the code during installation targets to avoid additional dependencies that are only required at test time.

Can the OpenCL maintainers take a look at the current CMake files for OpenCL-Headers and OpenCL-ICD-Loader to make sur

[2022-10-02 23:19] bashbaug commented on #58
If it helps, all of our CMake files check for the standard [BUILD_TESTING](https://cmake.org/cmake/help/latest/module/CTest.html) variable, so to bypass testing you can simply set BUILD_TESTING=0.

[2022-10-03 00:55] rajhlinux commented on #55
Thank You [bashbaug](https://github.com/bashbaug), I will try these.

[2022-10-03 01:35] rajhlinux commented on #55
The program have successfully built, Thank You.

I simply modified Line 22:

`#if defined(__uniux__) || defined(__FreeBSD__) || defined(__APPLE__)
`

Then did a `make` again:

[code]

As for adding an "else" check for the preprocessor directives in OS checking, this might work placed right above the first #endif directive:
[code]
It did compile but not sure how to trick the compiler to think I am

[2022-10-03 01:35] #55 closed

[2022-10-03 22:35] juliohm commented on #58
Thank you @bashbaug , I've updated the cross-compilation script with this option turned off and the build is now successful in MacOS, totaling 13 platforms. We are only missing Windows and FreeBSD now.

Do you think you can take a look at the error messages produced on Windows?

[2022-10-03 23:04] bashbaug commented on #58
Excellent, that's encouraging.

I started looking at the Windows build issues yesterday.  I didn't get too far but my hunch is that they are related to this issue: https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/130#issuecomment-732088977

Can you say what this package is being used for?  We may have some different options if it's only providing an import library to link to vs. building a

[2022-10-03 23:40] juliohm commented on #58
We are trying to revive the OpenCL.jl package, which enables opencl calls in familiar Julia syntax: https://github.com/JuliaGPU/OpenCL.jl

This package simply loads the binaries that were built by robots on GitHub for the 13 platforms and makes direct C calls to the opencl api with Julia's `ccall` function: https://docs.julialang.org/en/v1/manual/calling-c-and-fortran-code

At the moment the OpenC

[2022-10-03 23:42] juliohm commented on #55
@bashbaug can this fix be submitted as a PR? That way I can grab the PR as a patch and apply it to the cross-compilation script.

[2022-10-03 23:43] juliohm commented on #55
I mean, a PR to OpenCL-Headers + OpenCL-ICD-Loader, which is the core library we are trying to cross-compile, not the SDK as a whole.

[2022-10-04 00:41] bashbaug commented on #55
Yes - let's move discussion to the issue I just created, since we'll be making changes to the OpenCL ICD loader at least.

https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/184

I'll create a PR with @rajhlinux's changes.  I don't have a FreeBSD system setup to easily test things right now (I can try setting up a VM), so I'll need a bit of help with the review, though.

[2022-10-04 20:22] juliohm commented on #58
@bashbaug I am a bit lost regarding the organization of OpenCL libraries. Say I want to compile a library to load later in Julia applications and make direct C calls with this library. Is it correct to say that I only need to complie OpenCL-Headers and OpenCL-ICD-Loader to get the library of interest and load it somewhere? What is ICD? I am finding some material online saying that there are two wa

[2022-10-04 20:39] juliohm commented on #58
I understood that the ICD is a system that loads different OpenCL driver implementations. And that we still need to have at least one driver installed manually on the target system to be able to use the library functions. Is that correct?

[2022-10-05 04:47] bashbaug commented on #58
I think I'm overdue to write a full page for the [OpenCL-Guide](https://github.com/KhronosGroup/OpenCL-Guide) to describe how this works, so consider this a short preview draft for now, and I'll try to write up something more comprehensive shortly.

The "two methods" you mentioned may have come from [my article](https://github.com/bashbaug/OpenCLPapers/blob/master/OpenCLOnLinux.asciidoc) describin

[2022-10-05 04:59] bashbaug commented on #58
Since you mentioned Intel GPUs, if you have an Intel GPU that is Broadwell or newer I'd strongly recommend using the ["NEO" compute runtime](https://github.com/intel/compute-runtime) rather than Beignet.  NEO is our open source production driver stack and it is much more up-to-date and well-maintained.

We also ship a CPU OpenCL implementation as part of our oneAPI basekit.

If you are looking for

[2022-10-05 10:59] juliohm commented on #58
Thank you @bashbaug for the very detailed explanation ❤️  It helped a lot. We did some experiments yesterday and learned about ICD in practice by installing and removing drivers from different vendors. I wonder if this explanation could go in the README of this repository as well, to educate outsiders about these terms. I myself had a lot of trouble finding OpenCL-ICD-Loader and understanding that

[2022-10-05 11:04] juliohm commented on #58
Coming back to the original topic of the issue, we are only missing Windows now in our cross-compilation 🎉

Do you know a fix for the following error?

[code]

[2022-10-05 11:11] juliohm opened #61 "List of recommended drivers"
Can we compile a partial list of recommended drivers for different devices?

I am assuming that each vendor like intel, nvidia, ... provides a driver that works well with their hardware. Is there any mechanism in the OpenCL-ICD-Loader or somewhere else that could identify the device features as "NVIDIA" or "AMD", that we could use to automatically install drivers for beginners?

This question was

[2022-10-05 11:56] juliohm commented on #58
@bashbaug if you want to test the build in a different platform where an error occurs, you can pass the option `--debug` to the script and it will open the session in the emulated environment:

[code]

In this attempt with Windows for example, you will get a compilation error. You can then edit the files normally and re-run the CMake and build instructions until everything works.

[2022-10-05 15:01] juliohm commented on #58
Thank you @Kerilk , that is very helpful. From the warning I understand that we should enable the option as we are distributing the ICD loader library in Julia programs, correct?

That would be wonderful. Do you think you could cook a small PR with the proposed fix? I can easily grab the diff from the PR to update the build instructions in the script.

[2022-10-05 15:06] juliohm commented on #58
When I try to disable the option in the command line I get additional build errors. I really need some help from Windows developers 🙏🏽

[2022-10-07 00:26] bashbaug commented on #58
I started looking at the Windows build issues and they do appear to be due to the issue I linked previously:

In short, the included version of cfgmgr32.h is a little too old - it's missing the commit from July 2020 that adds the symbols the ICD loader requires - see the [history](https://sourceforge.net/p/mingw-w64/mingw-w64/ci/ee5758234f77a6b573e415b26a1d387c46717f6b/log/?path=/mingw-w64-headers

[2022-10-07 04:58] bashbaug commented on #58
Another thought: we could just use magic numbers in the case that the headers are tool old and the newer symbols are not defined.  This appears to be what the Vulkan loader is doing:

https://github.com/KhronosGroup/Vulkan-Loader/blob/823078c862f2d6deff673ca8d45a591f620f5712/loader/loader_windows.c#L232

[2022-10-07 06:03] bashbaug commented on #58
PR https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/186 let me get farther and I can build `x86_64-w64-mingw32` now if I disable OpenCLon12.  :tada:.

I'm getting a different error for `i686-w64-mingw32` though, unfortunately.  I'll need to take a look at this tomorrow.

We'll also need to decide if disabling OpenCLon12 is OK in this use-case or if we need to find an alternate solution.

[2022-10-07 10:24] juliohm commented on #58
That is awesome @bashbaug !  🎉 Thank you for helping!

I will investigate this with the BinaryBuilder.jl maintainers. I am currently specifying GCC 6.1 in the build script as the oldest version for which the cross-compilation worked. Any version that is more recent should work fine, but I am not sure about the mingw story as I never developed on Windows myself.

Will keep you posted about any upda

[2022-10-08 05:28] bashbaug commented on #58
Good news, I got `i686-w64-mingw32` working also.  The fix for this one was pretty simple - we need to define a newer version of `_WIN32_WINNT` for MinGW.  I added it to the same PR https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/186.

There are still a few linker warnings for this configuration that look a little scary though:

[code]

This appears to have something to do with `__stdcall`

[2022-10-10 00:43] bashbaug commented on #58
The linker warnings do seem to be a problem.  This is a good description what is going on:
https://www.willus.com/mingw/yongweiwu_stdcall.html

Specifically, for stdcall functions (the calling convention used by the 32-bit Windows ICD loader) mingw is generating decorated exports (with an `@n` suffix) whereas MSVC is not.  I need to find a way to get the undecorated name exported instead.  I have

[2022-11-09 20:33] lmarz opened #62 "Build artifacts are included in Source.tar.gz"
In the file [OpenCL-SDK-v2022.09.30-Source.tar.gz](https://github.com/KhronosGroup/OpenCL-SDK/releases/download/v2022.09.30/OpenCL-SDK-v2022.09.30-Source.tar.gz), there is a directory called `build` which still includes the generated files from cmake.

[2022-11-15 01:50] bashbaug commented on #58
Hi @juliohm, I think the last of the ICD loader fixes for mingw were merged today.  Would you mind giving the latest code a try to see if any issues still remain?  Thanks!

[2022-11-15 11:00] juliohm commented on #58
Thank you @bashbaug for the update. I will try to rerun the build script today with Windows in it. I am assuming that I can just clone the master branch of the ICD loader and everything should work fine 🙏🏽

[2022-11-15 23:07] juliohm commented on #58
@bashbaug I've updated the build script at https://github.com/juliohm/cross-platform-opencl with the latest commits from the Headers and ICD-Loader repositories. The build is successful on all platforms except on Windows as before.

Any additional patch that I should consider?

[2022-11-17 02:07] rdguerrerom opened #63 "Automatic porting of special mathematical functions to the device."
I am developing a methodology that allows automatic code generation of approximant algorithms for computing an arbitrary univariate special mathematical functions on the device with high speed at the cost of a controlled loss in accuracy. 

**I wonder if it would be useful to have this feature in a future release of OpenCL?**

It could be used to port function by function or to generate code for a

[2022-11-17 06:06] bashbaug commented on #58
Hi, I grabbed the latest build script - thanks!  Can you confirm this is the build error you are seeing on Windows?  This is from x86_64, but I see a similar error with i686 also:

[code]

If so, I think we're close, but maybe the build script is looking for the wrong files or in the wrong directory?  It looks like everything was built correctly, and I see  OpenCL.dll, libOpenCL.dll.a, and all of

[2022-11-17 10:46] juliohm commented on #58
Yep, the exact same error. This cross-compilation environment is supposed to be reproducible 🙏🏽

That is the same guess, but I am not familiar with Windows builds to hunt the source of the issue. It is probably specific to mingw compiler flags?

[2022-11-26 20:28] rdguerrerom commented on #63
@MathiasMagnus Can you reply to this, please?

[2022-11-26 20:58] MathiasMagnus commented on #63
This sounds extremely useful indeed. Do you have some samples or a working branch somewhere one could look into.

Are you asking in context of it being part of the utility libraries?

I think any computing language is better with capable numeric features at the programmers fingertips.

[2022-11-26 21:11] rdguerrerom commented on #63
Thanks for answering @MathiasMagnus!

I was waiting for the opinion of one of you to create a branch and start moving my implementation there.
I am finishing the associated paper as well.

[2022-11-26 21:17] rdguerrerom commented on #63
@MathiasMagnus Do me a favor, can you help me to get more opinions about this proposal, please?